**/temporary-file/
**/.*
!.gitignore
!.gitlab-ci.yml
**/*.tfstate
**/*.backup
**/ssh-key/
**/test.*
**/group_vars/*
!**/group_vars/all/
ansible/
!gitlab-cloud/ansible
**/backup-gitlab/files/etc/
**/backup-gitlab/files/var/
**/backup-gitlab.sh
gitlab-cloud/ansible/inventory/hosts.cfg
gitlab-cloud/ansible/backup-gitlab-snapshot.sh
gitlab-cloud/ansible/ansible.cfg
gitlab-cloud/ansible/backup-snapshot(not_recommended).yml
gitlab-cloud/ansible/inventory/group_vars/all/var-for-ansible.yml
deployment-app.yml
load-balancer.yml
gitlab-cloud/ansible/inventory/group_vars/all/main.yml
deployment-app-php.yml
httpbin.yml
sa-key.json
ingress.yaml
k8s/alb-script.sh
